services:
  app:
    build: ./app
    container_name: app
    expose:
      - "3000"
  www:
    image: nginx:1.27.5-alpine
    container_name: www
    ports:
      - "85:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app


